<html>
    <img src="<%= image_url %>" />

    <div id="the_gig_details">
      <h4>Gig Details</h4>
      <ul>
        <li><b>Main Event: </b><%= main_event   %></li>
        <li><b>Event Date: </b><%= $.format.date(new Date(event_date), 'dd MMMM yyyy') %></li>
        <li><b>Opening Time: </b><%= opening_time %></li>
        <li><b>Venue: </b><%= venue       %></li>
        <li><b>Price: </b><%= price       %></li>
        <li><b>Supports: </b><%= supports    %></li>
        <li><b>Age Group: </b><%= age_group    %></li>
        <li><b>Description: </b><%= description %></li>
        <li><b>Tag Names: </b><% _.each(tag_names, function(tagObj) {%> <%= tagObj.tag %> <% }); %></li>
      </ul>
    </div>

<div class="proceed" id="get_tickets">GET TICKETS</div>

</html>
