<html>
  <div id="account_order">

    <br>

    <ul>
      <li><b>_id: </b><%= _id %></li>
      <li><b>gig_id: </b><%= gig_id %></li>
      <li><b>main_event: </b><%= main_event %></li>
      <li><b>event_date: </b><%= event_date %></li>
      <li><b>venue: </b><%= venue %></li>
      <li><b>opening_time: </b><%= opening_time %></li>
      <li><b>age_group: </b><%= age_group %></li>
      <li><b>user_id: </b><%= user_id %></li>
      <li><b>user_authenticated: </b><%= user_authenticated %></li>
      <li><b>first_name: </b><%= first_name %></li>
      <li><b>last_name: </b><%= last_name %></li>
      <li><b>number_of_tickets: </b><%= number_of_tickets %></li>
      <li><b>ticket_price: </b><%= ticket_price %></li>
      <li><b>transaction_amount: </b><%= transaction_amount %></li>
      <li><b>transaction_id: </b><%= transaction_id %></li>
      <li><b>transaction_status: </b><%= transaction_status %></li>
      <li><b>braintree_customer_id: </b><%= braintree_customer_id %></li>
    </ul>

    <br>

  </div>
</html>

