@import url(bootstrap.min.css);
/* @import url(css/bootstrap-responsive.css); */


h4 {
  color: #DADADA;
}

#the_overbearer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: #000; */
  background-color: #EE680B;
}


.view_beta_login_details {
  float: left;
}

#beta_login_details {
  
  background-color: #000;
  padding: 20px;
  margin: 20px;

}

/*
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
*/


.gigs_container {
  overflow: auto;
}


.negative_user_feedback {
  background-color: #EC2424;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.successful_user_feedback {
  background-color: #ECA336;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}


.successful_user_feedback #output {
  float: none;
}


.negative_user_feedback #output {
  float: none;
}


.has-success .form-control, 
.has-success .form-control:focus {
  border-color: #77b300;
  background-color: #484E3C;
}


.has-error .form-control, 
.has-error .form-control:focus {
  border-color: #c00;
  background-color: #3A3939;
}


.proceed {
  padding: 10px;
  background-color: #2BBB53;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


#register_with_pending_order {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#login_with_pending_order {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#register_new_account {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#checkout_details {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}


.view_checkout_details {
  overflow: auto;
}


.view_number_of_tickets {
  overflow: auto;
}


#during_checkout_credit_card_details {
  width: 100%;
}


#during_checkout_credit_card_details > #submit_order {
  display: none;
  float: left;
}


#vault_cc h5 {
  float: left; 

}

#vault_cc #cc_masked_number,
#vault_cc #cc_expiration_date {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#during_checkout_credit_card_details > #vault_cc {
  display: none;
  float: left;
  background-color: #161516;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;

}


.view_purchase_with_cc_from_vault_details {
  overflow: auto;
}


#purchase_with_vault_cc {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}


#purchase_with_vault_cc > #vault_cc {
  float: left;
  background-color: #161516;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


#purchase_with_vault_cc > #submit {
  float: left;
}


#during_checkout_update_cc_details {
  display: none;
  background-color: #161516;
  padding: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


.view_credit_card_details {
  overflow: auto
}


/* this refers to the first time purchaser who has not entered any cc detail b4 */
/* style for whole CreditCardDetailsView.html content */
#during_checkout_credit_card_details {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* this refers to the first time purchaser who has not entered any cc detail b4 */
#during_checkout_new_credit_card_details {
  background-color: #161516;
  padding: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


.ticket_select {
  background-color: #efff33;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  color:#161516;
  font-size: 15px;
  font-weight: bold;
}


.registerDetails {
  overflow: auto;
}


.register_with_gig_details {
  overflow: auto;
}


.view_login_details {
  overflow: auto;
}


#login_details {
  float: left;
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.login_with_gig_details {
  overflow: auto;
}


.gigDetails img {
  float: left;
  margin: 20px;
}


.gigDetails div {
  float: left; 
  margin: 10px;
}


.gigDetails .proceed {
  float: left;
  margin: 20px;
}


#gig_list_item a {
  color: #ccc;
}


#gig_list_item_a_el {
  float: left;
  width: 100%;
  background-color: #000;
}


#gig_list_item_pic {
  float: left;
  margin-top: 15px;
}

#gig_list_item_pic img {
  padding-bottom: 10px;
  padding-right: 10px;
}


#gig_list_item_details {
  float: left;
}


#gig_list_item_details ul {
  margin-top: 15px;
}


#gig_list_item_get_tickets{
  float: left;
}


#gig_list_item_get_tickets h2 {
  margin-top: 25px;
  margin-bottom: 0px;

}

.gig_list_item {
  background-color: #42414B;
  padding: 10px;
  float: left;
  width: 100%;
  /* margin: 5px; */
}


.gigDetails img {
  max-width: 300px;
  max-height: 300px;
}


.gigDetails {
  margin: 10px;
  overflow: auto; 
  /* ^^^ makes sure height doesnt collapse to 0px since all children float:left */
}


.view_account_orders_details {
  overflow: auto;
}


.view_account_settings_details {
  overflow: auto;
}


#account_settings_parent {
  background-color: #161516;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}


.view_account_billing_details {
  overflow: auto;
}


#account_billing_parent {
  background-color: #42414B;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 100%;
}


/* the credit card on file */
#account_billing_credit_card {
  background-color: #42414B;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}


#account_billing_credit_card  #account_change_cc {
  margin-top: 10px;
}


#account_billing_update_cc_details {
  display: none;
  background-color: #42414B;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
}


/* from AccountBillingDefaultView */
#account_billing_new_cc_details {
  background-color: #42414B;
  padding: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


#account_main_spacer {
  min-height: 25px;
  clear: both;
}


#account_order {
  background-color: #42414B;
  padding: 25px;
  margin: 10px;
  float: left;
}


#change_password {
  background-color: #42414B;
  padding: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


#change_user_details {
  background-color: #42414B;
  padding: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}


.btn-success {
  color: #fff;
  background-color: #42414B;
  border-color: #2BBB53;

}


h3 {
  color: #EE9433;
}


#main_title {
  color: #333;
}


.banner_view {
  text-align: center;
  margin-bottom: 20px;
  /* background-color: #2BBB53; */
}


.footer_heading {
  font-size: 13px;
  color: #A36A3D;
  text-decoration: underline;
}


.footer {
  overflow: auto;
}


.footer_container {
  float: left;
}


.footer_sections {
  overflow: auto;
}


.footer .container .footer_sections .section {
  width: 100px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 15px
  margin-right: 15px
}


.footer_sections .section ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 150px;
}


.footer_sections .section ul li a {
  /* green-brown */
  /* background-color: #272916; */
  background-color: #42414B;
  color: #888888;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}


.footer_sections .section ul li a:link {
}


.footer_sections .section ul li a:visited {
}


.footer_sections .section ul li a:hover {
  color: #C2BEBE;
}


.footer_sections .section ul li a:active {
}


/* not used, i think */
/*
#change_cc_details {
  display: none;
}
*/


body {
  color: #979797
  /* background-color: #3A3939; */
  background-color: #EE680B;
}


#account {
  display: none;
}


#import_passbook_pass {
   display: none; 
}


div.footer {
  /* green-brown */
  /* background-color: #272916; */
  background-color: #42414B; /* blue grey */
  clear: both;
}


.creditCardDetails {
  margin: 10px
}


.numberOfTicketsDetails {
  margin: 10px
}


.loginWithPendingOrderDetails {
  margin: 10px
}


.registerWithPendingOrderDetails {
  margin: 10px
}


#reserve-form {
  background-color: #ee5c42;
}


#logout_header {
  display: none;
}


.btn-warning {
  background-image: linear-gradient(to bottom, #F87531, #f89406);
}


.textLink  {
  color: #586949;
}


ul {
  margin: 0 0 10px 0;
  padding: 0px; 
  list-style-type: none;
}


/*
li {
  color: #ffffff;
}
*/


li > b {
  color: #EE9433;
}


#featureContent {
  background-color: #161516;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  /* padding-left: 0px; */
  /* padding-right: 0px; */
  /*margin-top: 10px; */
 
}


.main .container-fluid {
  background-color: #586949;
}


.btn-success:hover {
  background-color: #2BBB53;
  color: #000;
}


.navbar {
  margin-bottom: 0px;
}


.navbar-nav li {
  color: #000;
}


.navbar-default .navbar-brand {
  color: #3A3939;
  font-weight: bold;
  font-size: 18px;
}


.navbar-default {
  background-color: #EE6D08;
  border-color: #EE6D08;
}


.navbar-default .navbar-nav > li > a {
  color: #3A3939;
  font-weight: bold;
}


.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: #fff; 
}


.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #282828;
}


.navbar-default .navbar-toggle {
  border-color: #FFFFFF;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}


a {
  color: #CC4100; 
  padding-left: 2px;
  padding-right: 2px;
}


a:link  {
  background-color: #EE6D08;
  text-decoration-underline: none;
  text-decoration-color: #CC4100;
}


a:visited  {
  background-color: #EE6D08;
}


a:hover {
  background-color: #2BBB53;
  color: #000;
  text-decoration: none;
}


a:active {
  background-color: #2BBB53;
}
