@import url(bootstrap.min.css);
/* @import url(css/bootstrap-responsive.css); */


.settings_first_name {
  margin-left: 72px;
}


.settings_last_name {
  margin-left: 75px;
}

.settings_email_address {
  margin-left: 52px;
}

.settings_phone_number {
  margin-left: 47px;
}

.settings_new_password_1 {
  margin-left: 51px;
}

.settings_new_password_2 {
  margin-left: 5px;
}

.navbar-nav li {
  color:#000;
}

.navbar-default .navbar-brand {
  color:#EE9433;
}


h3 {
  color:#EE9433;

}

#main_title {
  color:#333;

}


.banner_view {
  text-align:center;
  /* background-color: #efff33; */
  background-color: #2BBB53;
  margin-bottom:10px;
}

.footer_heading {
  font-weight: bold;

}


.footer .container .sections .section {
  width:100px;
  float:left;
  padding-right:10px;
  padding-left:10px;
  padding-top:10px;
}


.user_feedback {
  background-color: #ECA336;
  margin: 10px;
  padding: 10px;
}

#enter_new_cc_details {
  display: none;
}


#change_cc_details {
  display: none;
}

body {
  color:#EE9433;
}

#account {
  display: none;
}

#import_passbook_pass {
   display: none; 
}


div.footer {
  background-color: #272916;
  margin-top: 10px;
  margin-bottom: 10px;
}


.checkoutDetails {
  margin: 10px
}


.creditCardDetails {
  margin: 10px
}


.numberOfTicketsDetails {
  margin: 10px
}


.loginWithPendingOrderDetails {
  margin: 10px
}


.registerWithPendingOrderDetails {
  margin: 10px
}


.ticket_select {
  background-color: #efff33;
  margin: 10px;
  padding: 10px;
}

.proceed {
  /*background-color: #42414B; greyish purple. mellow */
  margin: 10px;
  padding: 10px;


  background-color:#2BBB53;
  color:#FFFFFF;
}

#reserve-form {
  background-color: #ee5c42;
}


#logout_header {
  display: none;
}



.btn-warning {
  background-image: linear-gradient(to bottom, #F87531, #f89406);
}

.textLink  {
  color:#586949;
}

.gig_list_item {
  outline: 5px solid #000;
  background-color: #42414B;
  list-style-type: none;
}


ul {
  margin: 0 0 10px 0;
  padding: 0px; 
  list-style-type: none;
}

/*
li {
  color: #ffffff;
}
*/

li > b {
  color: ##EE9433;
}

#featureContent {
  /*background-color: #ee5c42; */
  background-color: #000;
}

.gigDetails {
  margin: 10px;
}

.main .container-fluid {
  /*background-color: #79973f; */
  background-color: #586949;
}

a {
  color: #CC4100; 
  padding-left:2px;
  padding-right:2px;
}

/*
a:hover {
    color: #333;
    text-decoration: none;
}
*/

a:link  {
  background-color: #ffffff;
  text-decoration-underline:none;
  text-decoration-color: #CC4100;
  /* text-decoration:line-through; */

}

a:visited  {
  background-color: #ffffff;
  /* text-decoration-underline:none; */

}
a:hover {
  background-color: #2BBB53;
  /* text-decoration-underline:none; */
  /*text-decoration-color: #ffffff; */
  color: #ffffff;
  text-decoration:none;

}

a:active {
  background-color: #2BBB53;
  /* text-decoration-underline:none; */

}

/*
a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}
*/
