<html>

  <div id="account_credit_card">
    <h3>Your current billing details</h3>
    <div id="masked_number"><b>Card Number: </b><%= masked_number %></div>
    <div id="last_4"><b>Last4: </b><%= last_4  %></div>
    <div id="expiration_date"><b>Expiration Date: </b><%= expiration_date %></div>
    <button type="button" class="btn btn-success" id="account_change_cc">CHANGE CREDIT CARD DETAILS</button>
  </div>
  <!-- <div class="proceed" id="change_cc">CHANGE CC DETAILS</div> -->



  <div id="account_enter_new_cc_details">

    <h3>Enter credit card details</h3>

    <form role="form">

      <div class="form-group">
        <label for="cc_number">Card Number</label>
        <input type="text" autocomplete="off" id="cc_number" data-encrypted-name="cc_number" placeholder="Credit Card Number" class="form-control"/>
      </div>


      <div class="form-group">
        <label for="cc_cvv">CVV</label>
        <input type="text" autocomplete="off" id="cc_cvv" class="form-control" data-encrypted-name="cc_cvv" placeholder="CVV"/>
      </div>

      <div class="form-group">
        <label for="cc_month">Expiration Month</label>
        <input type="text" name="cc_month" id="cc_month" class="form-control" placeholder="MM"/>
      </div> 

      <div class="form-group">
        <label for="cc_year">Expiration Year</label>
        <input type="text" name="cc_year" id="cc_year" class="form-control" placeholder="YYYY"/>
      </div> 

      <div class="form-group">
        <button type="button" class="btn btn-success form-control" id="submit_new_cc">SUBMIT CREDIT CARD</button>
      </div>
    </form>
  </div>

  <!-- <div id="submit" class="proceed">SUBMIT</div> -->
</html>
