<html>
  <h2>Edit settings</h2>

  <ul>
    <li>first_name: <%= first_name %></li>
    <li>last_name: <%= last_name %></li>
    <li>email_address: <%= email_address %></li>
    <li>phone_number: <%= phone_number %></li>
    <li>braintree_customer_id: <%= braintree_customer_id %></li>
  </ul>




  <h5>User Details</h5>
    <div id="change_user_details">
    <p>
    <label>First Name</label> 
    <input type="text" size="20" id="first_name" class="settings_first_name" placeholder="<%= first_name %>"/>
    </p>
    <p>
    <label>Last Name</label> 
    <input type="text" size="20" id="last_name" class="settings_last_name" placeholder="<%= last_name %>"/>
    </p>
    <p>
    <label>Email Address</label> 
    <input type="text" size="20" id="email_address" class="settings_email_address" placeholder="<%= email_address %>"/>
    </p>
    <p>
    <label>Phone Number</label> 
    <input type="text" size="20" id="phone_number" class="settings_phone_number" placeholder="<%= phone_number %>"/>
    </p>
  </div>
  <div id="submit_new_user_details" class="proceed">SUBMIT NEW USER DETAILS</div>


  <h5>Change password</h5> 
  <div id="change_password">
    <p>
    <label>New Password</label>
    <input type="password" size="20" id="new_password_1" class="settings_new_password_1" />
    </p>
    <p>
    <label>Retype new Password</label>
    <input type="password" size="20" id="new_password_2" class="settings_new_password_2" />
    </p>
  </div>
  <div id="submit_new_password" class="proceed">SUBMIT NEW PASSWORD</div>


</html>
