<div id="checkout_details">
  <h2>Successful ticket purchase</h2>

  <!-- SHOULD ONLY SHOW THIS LINK TO PASS TO IPHONE/SAFARI/MOBILE USERS-->
  <a href="/api/etix/pkpass/<%= gig_id %>" id="import_passbook_pass"><div>iPhone/Safari/Mobile: Import ticket to Passbook App</div></a>


<!--
    <p>SHOULD ONLY SHOW THIS LINK TO PASS TO ANDROID/CHROME/MOBILE USERS</p>
    <a href="/api/electronic_tickets/google_wallet"><div id="import_android_wallet">Android/Chrome/Mobile:Import ticket to Google Wallet App (i have not implemented this yet)</div></a>
-->

  <h4>Order details:</h4>

  <ul>
    <li><b>_id: </b><%= _id %></li>
    <li><b>Main event: </b><%= main_event %></li>
    <li><b>Event date: </b><%= $.format.date(new Date(event_date), 'dd MMMM yyyy') %></li>
    <li><b>Venue: </b><%= venue %></li>
    <li><b>Opening time: </b><%= opening_time %></li>
    <li><b>Age group: </b><%= age_group %></li>
    <li><b>First name: </b><%= first_name %></li>
    <li><b>Last name: </b><%= last_name %></li>
    <li><b>braintree_customer_id: </b><%= braintree_customer_id %></li>
    <li><b>Number of tickets: </b><%= number_of_tickets %>
    <li><b>Ticket price: </b><%= ticket_price %></li>
    <li><b>Transaction amount: </b><%= transaction_amount %></li>
    <li><b>Transaction id: </b><%= transaction_id %></li>
    <li><b>Transaction status: </b><%= transaction_status %></li>
  </ul>

</div>
