<div id="checkout_details">
  <h2>Successful ticket purchase</h2>


  <!--
  <div class="proceed" id="import_pkpass">IPHONE/SAFARI/MOBILE: IMPORT TICKET TO MOBILE PASSBOOK APP</div>
  -->


  <a href="/api/mobile_tickets/pkpass?gig_id=<%= gig_id %>&order_id=<%= _id %>&order_first_name=<%= first_name %>&order_last_name=<%= last_name %>&order_main_event=<%= main_event %>&order_number_of_tickets=<%= number_of_tickets %>&order_transaction_status=<%= transaction_status%>">LINK: download the pkpass</a>


  <h4>Order details:</h4>

  <ul>
    <li><b>_id: </b><%= _id %></li>
    <li><b>Gig id: </b><%= gig_id %></li>
    <li><b>Main event: </b><%= main_event %></li>
    <li><b>Event date: </b><%= $.format.date(new Date(event_date), 'dd MMMM yyyy') %></li>
    <li><b>Venue: </b><%= venue %></li>
    <li><b>Opening time: </b><%= opening_time %></li>
    <li><b>Age group: </b><%= age_group %></li>
    <li><b>First name: </b><%= first_name %></li>
    <li><b>Last name: </b><%= last_name %></li>
    <li><b>braintree_customer_id: </b><%= braintree_customer_id %></li>
    <li><b>Number of tickets: </b><%= number_of_tickets %>
    <li><b>Ticket price: </b><%= ticket_price %></li>
    <li><b>Transaction amount: </b><%= transaction_amount %></li>
    <li><b>Transaction id: </b><%= transaction_id %></li>
    <li><b>Transaction status: </b><%= transaction_status %></li>
  </ul>

</div>
