<div id="during_checkout_credit_card_details">
  <h2>Credit Card Details View</h2>

 <h3>Order Model details</h3>
   <ul>
     <li><b>_id: </b><%= _id %></li>
     <li><b>gig_id: </b><%= gig_id %></li>
     <li><b>main_event: </b><%= main_event %></li>
     <li><b>event_date: </b><%= $.format.date(new Date(event_date), 'dd MMMM yyyy') %></li>
     <li><b>venue: </b><%= venue %></li>
     <li><b>opening_time: </b><%= opening_time %></li>
     <li><b>age_group: </b><%= age_group %></li>
     <li><b>user_id: </b><%= user_id %></li>
     <li><b>user_authenticated: </b><%= user_authenticated %></li>
     <li><b>first_name: </b><%= first_name %></li>
     <li><b>last_name: </b><%= last_name %></li>
     <li><b>braintree_customer_id: </b><%= braintree_customer_id %></li>
     <li><b>number_of_tickets: </b><%= number_of_tickets %>
     <li><b>ticket_price: </b><%= ticket_price %></li>
     <li><b>transaction_amount: </b><%= transaction_amount %></li>
     <li><b>transaction_id: </b><%= transaction_id %></li>
     <li><b>transaction_status: </b><%= transaction_status %></li>
   </ul>


      <div id="during_checkout_new_credit_card_details">
        <h3>Please enter credit card details</h3>

        <form role="form">
        
          <div class="form-group">
            <label for="cc_number">Card Number</label>
            <input type="text" autocomplete="off" class="form-control" id="cc_number" data-encrypted-name="cc_number" placeholder="Credit Card Number"/>
          </div>

          <div class="form-group">
            <label for="cc_cvv">CVV</label>
            <input type="text" autocomplete="off" class="form-control" id="cc_cvv" data-encrypted-name="cc_cvv" placeholder="CVV"/>
          </div>

          <div class="form-group">
            <label for="cc_month">Expiration Month</label>
            <input type="text" name="cc_month" class="form-control" id="cc_month" placeholder="MM"/>
          </div>


          <div class="form-group">
            <label for="cc_year">Expiration Year</label>
            <input type="text" name="cc_year" class="form-control" id="cc_year" placeholder="YYYY"/>
          </div>
        </form>

        <div id="submit_new_cc" class="proceed">VERIFY CREDIT CARD</div>
      </div>




     <div id="vault_cc">
       <h3>This credit card will be billed</h3>
       <h5>Number: </h5><div id="cc_masked_number"></div>
       <div style="clear:both;"></div>
       <h5>Expiration: </h5><div id="cc_expiration_date"></div>
       <div style="clear:both;"></div>
       <div class="proceed" id="during_checkout_edit_cc_details">CHANGE CREDIT CARD</div>
     </div>


     <div id="submit_order" class="proceed">PURCHASE ORDER</div>





</div>
