<div class="row-fluid" id="gig_list_item">
  <a id="gig_list_item_a_el" href="/#/gigs/<%= _id %>">
    <div class="col-md-3" id="gig_list_item_pic">
      <img src="<%= thumbnail_url %>" width="100px" height="100px">
    </div>
    <div class="col-md-6" id="gig_list_item_details">
      <ul>
        <li><b>Main Event: </b><%= main_event %></li>
        <li><b>Supports: </b><%= supports %></li>
        <li><b>Venue: </b><%= venue %></li>
        <li><b>Date: </b>  <%= $.format.date(new Date(event_date), 'dd MMMM yyyy') %></li>
        <li><b>Price: </b><%= price %></li>
      </ul>
    </div>
    <div class="col-md-3" id="gig_list_item_get_tickets">
      <h2>RESERVE TICKETS</h2>
    </div>
  </a>
  <div style="clear:both;"></div>
</div>
