<html>
  <div id="account_order" class="col-md-5">

    <h4><%= main_event %></h4>
    <ul>
      <li><b>_id: </b><%= _id %></li>
      <li><b>Main event: </b><%= main_event %></li>
      <li><b>Event date: </b><%= $.format.date(new Date(event_date),'dd MMMM yyyy') %></li>
      <li><b>Venue: </b><%= venue %></li>
      <li><b>Opening time: </b><%= opening_time %></li>
      <li><b>Age group: </b><%= age_group %></li>
      <li><b>First name: </b><%= first_name %></li>
      <li><b>Last name: </b><%= last_name %></li>
      <li><b>Number of tickets: </b><%= number_of_tickets %></li>
      <li><b>Ticket price: </b><%= ticket_price %></li>
      <li><b>Transaction_amount: </b><%= transaction_amount %></li>
      <li><b>Transaction id: </b><%= transaction_id %></li>
      <li><b>Transaction status: </b><%= transaction_status %></li>
      <li><b>braintree_customer_id: </b><%= braintree_customer_id %></li>
    </ul>

    <br>

  </div>
</html>

