<html>
  <h3>User Account: Billing Details</h3>

  <div id="credit_card">
    <b>Credit Card:</b>
    <div id="masked_number"><b>Masked Number: </b><%= masked_number %></div>
    <div id="last_4"><b>Last4: </b><%= last_4  %></div>
    <div id="expiration_date"><b>Expiration Date: </b><%= expiration_date %></div>
  </div>

  <div class="proceed" id="change_cc">CHANGE CC DETAILS</div>


  <div id="enter_new_cc_details">
    <h3>Enter details to change your credit card.</h3>
    <p>
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" id="cc_number" data-encrypted-name
="cc_number" />
    </p>
    <p>
    <label>CVV</label>
    <input type="text" size="4" autocomplete="off" id="cc_cvv" data-encrypted-name="cc
_cvv" />
    </p>
    <p>
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" name="cc_month" id="cc_month"/> / <input type="text" s
ize="4" name="cc_year" id="cc_year"/>
    </p>
  
    <div id="submit" class="proceed">SUBMIT</div>

  </div>

</html>
